<div class="panel panel-default dataPanel nonMarginBotPanel" id="dataPanel">
		<!-- TABS PANEL -->
		<div style="margin-top: 5px;">
				<span ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">
						<button class="btn btn-primary btn-xs" ng-if="tab.url == currentTab" style="margin-top:5px; margin-left: 5px;">{{tab.title}}</button>
						<button class="btn btn-default btn-xs" ng-if="tab.url !== currentTab" style="margin-top:5px; margin-left: 5px;">{{tab.title}}</button>
				</span>
				<a href="#aboutModal" data-toggle="modal" data-target="#attributeSelectionHelp" class="btn btn-circle-micro btn-primary" style="float:right;margin: 5px;">
						<span class="glyphicon glyphicon-question-sign"></span>
				</a>      
		</div>

		<!-- BODY -->
		<div class="panel-body nonPaddingBodyPanel">
			<div id="mainView">
					<div ng-include="currentTab"></div>
			</div>
		</div>

		<!-- SCRIPT TEMPLATES -->

		<!-- VIEW ONE -->
		<script type="text/ng-template" id="attrSelection.tpl.html">
			<div id="viewOne">
				<div>
		            <div class="container" style="margin-bottom:5px;">
		                <button type="button" class="btn btn-default btn-xs" style="margin-right:3px;float:right" ng-click="setAttrOperator4CurrentSelectedAttr(operator)" ng-repeat="operator in operators">{{operator}}</button>		                
		            </div>
                <div class="panel-body">
                  <div class="small-text">
                      <div ng-repeat="attr in clickedQueryObject.objectAttrs" ng-click="clickAttrClickedQueryObject(attr, $event)" ng-dblclick="dblClickAttrClickedQueryObject(attr)">
                          <label style="width:45%;" ng-if="attr == currentSelectedAttrClickedQueryObject">{{attr.attrName}}</label>
                          <label style="width:45%;  color: rgba(0, 0, 0, 0.3);" ng-if="attr !== currentSelectedAttrClickedQueryObject">{{attr.attrName}}</label>
                          <label style="width:5%">
                              <font color="gray">{{attr.attrOperator}}</font>
                          </label>
                          <input type="text" style="width:25%; border-radius:4px; line-height:20px; border:1px solid #ccc;" ng-style="{'visibility': (attr.attrOperator !== '')?'visible':'hidden'}" ng-model="attr.attrValue">
                          <!-- <div class="pull-right">Get Value: <input type="checkbox" ng-model="attr.getValue"></div> -->
                      </div>
                  </div>
				  <div ng-if="clickedQueryObject !== undefined">Get value: <input type="checkbox" ng-model="clickedQueryObject.isReturnedValue"></div>
				  <div ng-if="clickedQueryObject !== undefined">Alternative name: <input type="text" style="width:150px; border-radius:4px; line-height:20px; border:1px solid #ccc;" ng-model="clickedQueryObject.objectDisplayName"></div>
                </div>
			</div>
		</script>

		<!-- VIEW TWO -->
		<script type="text/ng-template" id="grid-results.tpl.html">
			<div id="viewTwo">
				<div class="container" style="margin-bottom:5px;">
					<button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right: 5px;" ng-click="saveGridResults()" ng-disabled="csvResults === undefined">Save .csv</button>
				</div>
				<div class="gridStyle grid-results" ng-grid="sparqlGridOptions"></div>
			</div>
		</script>

		<!-- VIEW THREE -->

		<script type="text/ng-template" id="graph-results.tpl.html">
			<div id="viewThree">
				<label ng-if="sparqlGraphStr == ''">Graph is not available !!!</label>	
				<img src="data:image/png;base64,{{ sparqlGraphStr }}" class='graph-results' ng-if="sparqlGraphStr != ''">
			</div>
		</script>

		<!-- VIEW FOUR -->
		<script type="text/ng-template" id="classifiedResutls.tpl.html">
			<div id="viewFour">
				<div class="container">
						<button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right: 5px;" ng-click="saveCsvFinalQueryResult()">Save .csv</button>
						<button type="button" class="btn btn-success btn-xs" style="float:right; margin-right: 5px;" ng-click="saveSwoDataFinalResult()">Save .swoData</button>
				</div>

				<!-- Classified results (to be defined another comment) -->
				<div class="gridStyle" ng-grid="gridClassAssociatedDataTable"></div>
			</div>
		</script>

		<!-- DATA PANEL HELP MODAL -->
		<div class="modal fade" id="attributeSelectionHelp" tabindex="-1" role="dialog" aria-spanledby="myModalspan" aria-hidden="true">
				<div class="modal-dialog">
						<div class="modal-content">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
										<h4 class="modal-title" id="myModalspan">Attribute Selection Help!</h4>
								</div>
								<div class="modal-body">
										<ul class="list">
												<li>+ Click on an <i>attribute</i>, choose an <i>operator</i> and enter the <i>attribute's value</i> in the input box.</li>
										</ul>
								</div>
								<div class="modal-footer">
										<center>
												<button type="button" class="btn btn-circle-sm btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
										</center>
								</div>
						</div>
				</div>
		</div>
</div>