<div class="panel panel-default productPanel nonMarginBotPanel">
	<div class="panel-heading">
        <i class="fa fa-building-o fa-fw"></i><b>Partenaires</b>        
    </div>
    <div class="panel-body">

      <img src="data/lucid/images/lucid_logo.png" alt="Smiley face" width="100"> 
      <img src="data/lucid/images/utc_logo.png" alt="Smiley face" width="150"> 
      <img src="data/lucid/images/defense.png" alt="Smiley face" width="150"> 
      <img src="data/lucid/images/ens.png" alt="Smiley face" width="100"> 
      <br>
      <br>
      <br>
      <img src="data/lucid/images/ncsimul.png" alt="Smiley face" width="120"> 
      <img src="data/lucid/images/nf1.png" alt="Smiley face" width="150"> 
      <img src="data/lucid/images/ventana.png" alt="Smiley face" width="80"> 
      <img src="data/lucid/images/safran.png" alt="Smiley face" width="150"> 
        
    </div>
</div>